
#top {
    position: relative;
    background-color: #dddddd;
    color: white;
    padding: 5px;
    height: 50px;
    margin: 0px 0px 10px 0px;
}

#maintop {
    position: relative;
    background-color: #751606;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    height: 105px;
    font-size: xx-large;
    vertical-align: text-top;
}

#bottom {
    clear: both;
    position: relative;
    background-color: #751606;
    color: white;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #dddddd;
    padding: 15px;
    margin-bottom: 10px;
    width: 130px;
    height: 550px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 5px;
}

/*#content {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 5px;
}*/

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.btn {
    width: 130px;
    height: 30px;
}

.btntop {
    width: 220px;
    height: 30px;
    margin-right: 10px;
}

.btncontent {
    
}

/*Style von LagerBrunthaler*/
.datatable{
    border-collapse:collapse;
    border: #000000;
    border-style: solid;
}

.headtable{
    text-align:center;
    background:none repeat scroll 0 0 darkgray;
    border-bottom:1px solid #BBBBBB;
    padding:24px;
}

.rowtabel_odd{
    text-align: center;
    background:none repeat scroll 0 0;
    border-top:1px solid #BBBBBB;
}

.rowtabel_even{
    text-align:center;
    background:none repeat scroll 0 0 #F9F9F9;
    border-top:1px solid #BBBBBB;
}


